<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/images/haikal.jpg" alt="Muhammad Haikal" class="img-thumbnails rounded-circle" width="100" /><br>
            <hi class="display-4">Muhammad Haikal</hi>
            <p class="lead">Software Engineer and Data Analyst</p>
        </div>
    </div>
</div>